[submodule "bart"]
	path = bart
	# Canonical upstream: https://codeberg.org/mrirecon/bart.git
	# The GitHub mirror (https://github.com/mrirecon/bart) is used here
	# because Codeberg may not be reachable in all CI/CD environments.
	# To switch to Codeberg, run:
	#   git config submodule.bart.url https://codeberg.org/mrirecon/bart.git
	#   git submodule update --remote
	url = https://github.com/mrirecon/bart.git
